<nb-layout>
    <nb-layout-header fixed>

        <!-- always visible -->
        <nb-actions size="medium">
            <nb-action class="mt-3" nbTooltip="Home" nbTooltipIcon="home-outline" [routerLink]="['/app/home']" routerLinkActive="router-link-active" >
                <h1 class="site-title">Company Dashboard</h1>
            </nb-action>
         
          </nb-actions>

          <!-- visible when not logged in -->
          <nb-actions size="medium"  *ngIf="!companyService.loggedin" style="margin-left: auto">
            <nb-action nbTooltip="Home" nbTooltipIcon="home-outline" [routerLink]="['/app/home']">Home</nb-action>
            <nb-action nbTooltip="Home" nbTooltipIcon="home-outline" [routerLink]="['/company/register']">Register</nb-action>
            <nb-action nbTooltip="Home" nbTooltipIcon="home-outline" [routerLink]="['/company/login']">Login</nb-action>
          </nb-actions>

          <!-- visible when logged in -->
          <nb-actions size="medium" *ngIf="companyService.loggedin" style="margin-left: auto">
            
            <nb-action nbTooltip="Home" nbTooltipIcon="home-outline" (click)="companyService.logout()">Logout</nb-action>
          </nb-actions>
          <nb-user *ngIf="companyService.loggedin"
             size="large"
             [name]="companyService.currentCompany.name"
             [title]="companyService.currentCompany.email"
             [picture]="url+companyService.currentCompany.avatar"
             [routerLink]="[companyService.currentCompany.iscompany?'/company':'/user']">
        </nb-user>
         
    </nb-layout-header>
    <nb-sidebar *ngIf="companyService.loggedin">
      <nb-menu [items]="sidebarItems">

      </nb-menu>
  </nb-sidebar>
    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer>
      <div class="card mx-auto" style="border: 1px solid gainsboro;height: 200px;background-color: rgba(255, 251, 196, 0.116);margin-top: 20px;width:100%">
         <div class="me">    
          <a class="fa fa-facebook hey facebook" href="https://www.facebook.com/profile.php?id=100009905805398"></a>
          <a class="fa fa-instagram hey insta" href="https://www.instagram.com/vieshyal/"></a>
          <a class="fa fa-twitter hey twitter" href="https://twitter.com/login?lang=en"></a>
          <a class="fa fa-phone hey phone" href="tel:+7565919623"></a>
          <a class="fa fa-envelope hey mail" href="mailto:vieshyal@gmail.com"></a>
      
           
          
         <div class="me i">
              <a href="" class="hi">About</a>
              <a href="" class="hi">Need Help?</a>
              <a href="" class="hi">Contact Guide</a>
              <a href="" class="hi">Privacy</a>
              <a href="" class="hi">Terms Of Use</a>
         </div>
<!--
         <div class="row">
           <div class="col">
            <nb-icon icon="heart-outline" status="basic"></nb-icon>
           </div>
         </div>
        -->
          @2021 Digipodium. All Rights Reserved.
         </div>  
      
          
          </div>
    </nb-layout-footer>
</nb-layout>
