<div class="col-md-11 mx-auto mt-5">

    <nb-card accent="primary">
        <nb-card-header>
            <p class="h4">Manage your BETA Tests</p>
        </nb-card-header>
        <nb-card-body>
            <nb-accordion *ngIf="betaList">
                <nb-accordion-item *ngFor="let beta of betaList">
                  <nb-accordion-item-header>
                    {{beta.title}}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                      
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="url+beta.thumb" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-8 mt-5">
                            <div>
                                Company Name :
                                {{beta.company.name}}
                            </div>
                            <div>
                                Company Email :
                                {{beta.company.email}}
                            </div>
                            <div>
                                Start Date : 
                                {{beta.startDate | date}}

                            </div>
                            <div>
                                End Date:
                                {{beta.endDate | date}}
                            </div>
                            
                            
                               
                           </div>
                    </div>
                    <div>
                        <h3>Feedback Forms for this Beta Tests</h3>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let form of beta.forms">
                              <div class="row" *ngIf="!expired(form.endDate) && !hasUnfilled(form.users)">
                                  <div class="col-8">
                                      Form Published {{form.created | date}}
                                  </div>
                                  <div class="col-4">
                                      <button nbButon [routerLink]="['/user/givefeedback', beta._id]" routerLinkActive="router-link-active" >Give Feedback</button>
                                  </div>
                              </div>
                            </li>
                        </ul>
                    </div>
                    
                      

                      
                     
                  </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card-body>
    </nb-card>
</div>