html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.register {
  background: url("assets/register_back.png") no-repeat;
  background-attachment: fixed;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nb-action {
  cursor: pointer;
}
