<div class="card col-md-6 mx-auto" style="margin-top: 5%;height: 500px;">
    <div class="row " style="padding: 10px;">
        <div class="col-md img">
        
        </div>
        <div class="col-md mt-4">
            <h1>Contact Us</h1>
        <hr>
            <div class="form-floating mt-5">
                <input type="text" class="form-control" id="floating-input" placeholder="Name" style="border-radius: 20px;">
                <label>Name...</label>

            </div>
            <div class="form-floating mt-3">
                <input type="email" class="form-control" id="flaoting-input" placeholder="Email" style="border-radius: 20px;"> 
                <label>Email...</label>

            </div>
            <div class="form-floating mt-3">
                <input type="text" class="form-control" id="floating-input" placeholder="Your Question..." style="height: 100px;border-radius: 20px;">
                <label>Your Question...</label>
            </div>
            <button class="btn mt-4 w-100" style="border-radius: 20px;height:50px;background-image: linear-gradient(to right, rgba(255, 0, 0, 0.425), rgba(0, 255, 242, 0.87));font-size: 20px;">Send Message</button>
            </div>
    </div>
</div>

