<div class="col-md-11 mx-auto mt-5">

    <nb-card accent="primary">
        <nb-card-header>
            <p class="h4">Manage company</p>
        </nb-card-header>
        <nb-card-body>
            <nb-accordion *ngIf="companysList">
                <nb-accordion-item *ngFor="let company of companysList">
                  <nb-accordion-item-header>
                    {{company.name}}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    {{company.desc}}
                    <div class="row mt-5">
                        <div class="col text-center">
                            <button class="col-10" nbButton (click)="updateUser(company._id)">Edit</button>
                        </div>
                        
                        <div class="col text-center">
                            <button class="col-10" nbButton hero (click)="deleteUser(company._id)" status  ="danger">Delete</button>
                        </div>
                    </div>
                  </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card-body>
    </nb-card>
</div>